@using Microsoft.AspNet.Identity
@using ConfWebAccess.Models;


@{
    string usertype = "blank";



    string username = User.Identity.GetUserName();

    DB_A0B2A3_conferenceEntities context = new DB_A0B2A3_conferenceEntities();
    var obj = context.AspNetUsers.Where(x => x.Email == username).FirstOrDefault();
    if (obj != null)
    {
        usertype = obj.SysUserType.TypeName;
    }




}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Conference Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TPWA Conference App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if( usertype == "SysAdmin")
                    {
                        <li>@Html.ActionLink("Abstracts", "Index", "confabstracts")</li>
                        <li>@Html.ActionLink("Lectures", "Index", "Lectures")</li>
                        <li>@Html.ActionLink("My Classes", "Index", "MyClass")</li>
                        <li>@Html.ActionLink("Conference Map", "Index", "Map")</li>
                        <li>@Html.ActionLink("Users", "Index", "Users")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Abstracts", "Index", "confabstracts")</li>




                    }




                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Conference Tracker Application  -- Van Tan Technologies Copyrighted 2011</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
