@model IEnumerable<ConfWebAccess.Models.SysFilePath>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Presentation Upload</h2>


@using (Html.BeginForm("SaveImport", "Import", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="form-horizontal">
 
    <hr />
    @Html.Hidden("id",(int)ViewBag.id)
    <div class="form-group">
        <div class="col-md-6">
            <div class="input-group">
                <label class="control-label input-group-addon">File to Upload</label>
                <input class="form-control" type="file" id="importfile" name="upload" />

            </div>
        </div>

    </div>

    <div class="form-group">

        <div class="col-md-1">
            <div class="input-group">

                <span class="input-group-btn"><input class="btn btn-primary" type="submit" name="action" id="action" value="Upload File" /></span>
            </div>
        </div>
    </div>



</div>

 }


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.UploadDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        <a href="@Href("~/Temp/" + item.FileName)">@(item.FileName) </a>
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.UploadDate)
    </td>
    <td>

        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
    }

</table>
